/* */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/* */
body {
  background-color: #868282;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #fff;
  min-width: 100%;
}

.title, section, footer {
  min-width: 90%;
}
/* */
a {
  text-decoration: none;
  color: #fff;
}
/* */

.title, #n-link1, #n-link2, #n-link3 {
  min-width: 90%;
  background-color: #2c3a5c;
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: left;
  padding-right: 10%;
  margin-block-end: 2%;
  border-right: solid 5px #d6d6d6;
  border-bottom: solid 2px #fff;
}
/* */
h1 {
  color: #fafbfe;
}

h2 {
  text-align: center;
  background-color: #c8bebe;
  border-right: #d6d6d6 solid;
  border-bottom: solid 2px #fff;
}


/* */
nav a:hover {
  background-color: #fff;
  border: solid 1% #fff;
}
/* */
.bio {
  border-top: solid 30px #1f21693a;
  width: 90%;
  display: inline-flex;
}
/* */
#headshot {
  max-width: 125px;
  max-height: 300px;
  border-right: solid 5px #d6d6d6;
  border-bottom: solid 3px #fff;
  
  
}
/* */
.autobio {
  text-align: right;
  margin-top: 4%;
  background-color: #c8bebe;
  padding-inline-end: 11%;
  padding-block-start: 4%;
  margin-bottom: 1%;
  border-bottom: solid 5px #fff;
  border-right: solid 5px #d6d6d6;
  
}
/* */






.projects {
  display: inline-flex;
  flex-flow: column;
  align-content:center ;
  padding: 10%;
  background-color: #2c3a5c;
  border-right: solid 5px #fafbfe;
  margin-right: 10%
}

.prj-img1 {
  min-width: 600px;
  max-height: 300px;
}

.prj-img {
  width: 300px;
  height: auto;
  border: solid 2px #fff;
  background-color: #c8bebe;

}

h3 {
  margin-left: 30%;
}
.contact p {
  margin-left: 20%;
}

#resume {
  margin-left: 34%;
}

.contact a {
  color:#2c3a5c;
  margin-left: 12%;
  border: solid;
}
.contact {
  background-color: #fafbfe;
  margin-right: 10%;
  color: #2c3a5c;
  padding: 2%;
}

.contact header {
  margin-bottom: 10%;
  
}

#tplink {
  margin-left: 16%;
  color: #2c3a5c;
}

.projects p {
  background-color: #a4a0a0;
}

footer {
  margin-left: 18%;
}

